<div ng-controller='ProfilesController' ng-init="load(1)" access="ROLE_PROFILES" class="container">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <nav access="ROLE_PROFILES">
    	<div>
	        <button type="button" class="btn btn-primary" ng-click="add()" access="ROLE_PROFILES">Add</button>
        	<button type="button" class="btn btn-info" ng-click="load(1)" access="ROLE_PROFILES">Refresh</button>
        </div>
		<div>
			<ul class="pagination noselect">
				<li ng-class="{disabled: currentPage==1}"><a aria-label="Previous" ng-click="currentPage > 1 && load(currentPage - 1)"><span aria-hidden="true">Previous</span></a></li>
				<li ng-class="{active: page==currentPage}" ng-repeat="page in getNumber(pages)"><a ng-click="currentPage != page && load(page)">{{page}}</a></li>
				<li ng-class="{disabled: currentPage==pages}"><a aria-label="Next" ng-click="currentPage < pages && load(currentPage + 1)"><span aria-hidden="true">Next</span></a></li>
			</ul>
		</div>
	</nav>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr class="info table-row">
					<th>First Name</th>
					<th>Last Name</th>
					<th access="ROLE_PROFILES">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="profile in profiles" class="table-row">
					<td>{{profile.firstname}}</td>
					<td>{{profile.lastname}}</td>
					<td access="ROLE_PROFILES">
						<button type='button' class='btn btn-success' ng-click="add(profile)" access="ROLE_PROFILES">Edit</button>
						<button type='button' class='btn btn-danger' ng-click="deleteRecord(profile)" access="ROLE_PROFILES">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>