<div ng-controller='HomeController'>
    <nav class="navbar navbar-default"><!--  navbar-fixed-top  -->
		<div class="container">
	       <div class="navbar-header">
	         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
	           <span class="sr-only">Toggle navigation</span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	         </button>
	         <a class="navbar-brand" href="#/home/profiles">ISEE Jobs</a>
	       </div>
	       <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
	          <ul class="nav navbar-nav">
	            <li ng-class="{active: isSegment('profiles')}" access="ROLE_PROFILES"><a href="#/home/profiles">Profiles</a></li>
	            <li ng-class="{active: isSegment('upload')}" access="ROLE_UPLOAD"><a href="#/home/upload">Upload</a></li>
	            <li ng-class="{active: isSegment('download')}" access="ROLE_DOWNLOAD"><a href="#/home/download">Download</a></li>
	            <li ng-class="{active: isSegment('search')}" access="ROLE_SEARCH"><a href="#/home/search">Search</a></li>
	            <li ng-class="{active: isSegment('settings')}" access="ROLE_SETTINGS"><a href="#/home/settings">Settings</a></li>
	            <li class="dropdown" ng-class="{active: isSegment('users')}" access="ROLE_USER_MANAGER">
	              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users/ Roles <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li ng-class="{active: isSegment('users')}"><a href="#/home/users">Users</a></li>
	                <li ng-class="{active: isSegment('groups')}"><a href="#/home/groups">Groups</a></li>
	              </ul>
	            </li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#" ng-click="logout()">Logout</a></li>
	          </ul>
	       </div>
	    </div>
    </nav>
	<div class="well">
	   <div id="main-contents" app-view-segment="1"></div>
	</div>
</div>